*~
*.py[co]
.project
.pydevproject
.settings/
.idea/
docs/_build/
*.egg-info
dist/
build/
# Virtualenv
bin/
help/
include/
lib/
Include/
Lib/
Scripts/
man/
# Test purposes
playground.py
.tox
